<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-wifiinfo-plugin"
    version="1.0.0">
    <name>WifiInfo</name>
    <description>Cordova WifiInfo Plugin</description>
    <license>MIT</license>
    <keywords>cordova,wifiinfo</keywords>
    <repo>https://github.com/</repo>
  
    <js-module src="www/WifiInfo.js" name="WifiInfo">
        <clobbers target="WifiInfo" />
    </js-module>
   

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiInfo" >
                <param name="android-package" value="org.apache.cordova.android.Wifi"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <source-file src="src/android/Wifi.java" target-dir="src/org/apache/cordova/android" />
    </platform>


   
</plugin>